.Info{
  padding: 0;
  font-size: 16px;
  .cards-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background: white;
    .Card{
      width: 700px;
      color: white;
      height: auto;
      font-size: calc(14px + 0.2vw);
      border-right: 1px solid #ececec;
      background: #444;
      &__content-wrap{
        display: flex;
      }
      &__img{
        width: 50%;
        height: 100%;
      }
      &__content{
        padding: 0 15px;
      }
      &__link-wrap{
        background: #212121;
        box-shadow: none;
        a{
          font-size: inherit;
          text-align: center;
          padding: 10px;
          border: 1px solid white;
          margin-left: 53%;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
