.Card{
  @include display(space-between, auto);
  @include size(400px, auto);
  flex-direction: column;
  margin: 1% 0;
  padding-bottom: 20px;
  cursor: default;
  transition: all 0.5s ease;

  &__img{
    width: 100%;
  }
  &__header{
    color: black;
  }
  &__content{
    padding: 20px;
  }
  &__link-wrap{
    @include display(space-between, auto);
    background: #323232;
    padding: 10px 20px;
    box-shadow: (1px 1px #212121, 2px 2px #212121, 3px 3px #212121,
    4px 4px #212121, 5px 5px #212121, -1px 1px #212121, -2px 2px #212121,
    -3px 3px #212121, -4px 4px #212121, -5px 5px #212121, 6px 5px #323232,
    7px 5px #323232, 8px 5px #323232, 9px 5px #212121, 10px 5px #212121,
    -6px 5px #323232, -7px 5px #323232, -8px 5px #323232, -9px 5px #212121,
    -10px 5px #212121
    );
   a{
      text-decoration: none;
      color: white;
   }
 }
}
