.dropdown{
  .dropdown__content {
    display: none;
    position: absolute;
    left: -2%;
    background-color: white;
    height: 420px;
    overflow-y: scroll;
    width: 392.094px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    a{
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      transition: all .5s cubic-bezier(.2,1,.2,1);
      &:hover{
        background: #3b6caa;
        color: white;
      }
    }
    &--shrinked{
      width: 150px;
      height: 180px;
    }

  }
  
  &--fixed{
    position: fixed;
    top: 0;
    left: 0;
  }


  &:hover{
    .dropdown__content{
      display: block;
    }
  }

}
.Links__header{
  font-weight: bolder;
}
