
$primary-blue: #3b6caa;
$main-theme-color: #cc9900;
$light-black: #323232;
$lighter-black: #5a5a5a;
$teal: #41d6c3;
$purple: #9855d4;

$large-screen: '(max-width: 1300px)';
$medium-screen: '(max-width: 800px)';
$small-screen: '(max-width: 600px)';
