.Info{
  padding: 0;
  font-size: 16px;
  &__cards-wrap{
    @include display(center, center);
    flex-wrap: wrap;
    width: 100%;
    background: white;
    .Card{
      @include size(48.9vw, 300px);
      color: white;
      background: #444;
      font-size: calc(14px + 0.2vw);
      border-right: 1px solid #ececec;
      @include respond-to($large-screen){
        width: 700px;
      }
      @include respond-to($small-screen){
        height: auto;
      }

      &__content-wrap{
        display: flex;
        @include respond-to($small-screen){
          flex-direction: column;
        }
      }

      &__img{
        @include size(50%, 100%);
        @include respond-to($small-screen){
          @include size(100%, auto);
        }
      }

      &__content{
        padding: 0 15px;
      }

      &__link-wrap{
        background: #212121;
        box-shadow: none;
        a{
          font-size: inherit;
          text-align: center;
          width: auto;
          margin-left: 53%;
          padding: 10px 5px;
          border: 1px solid white;
          color: white;
          text-decoration: none;
          @include respond-to($small-screen){
            margin: 0 auto;

          }
        }
        .report, .icon{
          display: none;
        }
      }
    }
  }
}
